<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        form{
            width: 500px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        h2{
            text-align: center;
            margin-top: 30px;
        }
        img{
            width: 100px;
        }
    </style>
</head>
<body>
<h2>关于我们页面</h2>
<!--表单-->
<form class="layui-form" action="">

    <!--1.关于我们内容-->
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公司简介</label>
        <div class="layui-input-block">
            <textarea id="textarea" name="content" style="display: none" class="layui-textarea"></textarea>
        </div>
    </div>

    <!--2.提交按钮-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
        </div>
    </div>

</form>

</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use(['layer','form','jquery','layedit'],function () {
        var {layer,form,$,layedit}=layui;
        var index=layedit.build('textarea');
        //获取数据
        $.get('about-us.php',{uid:1},function (res) {
            let data=JSON.parse(res);
            layedit.setContent(index,data.content)
        });

        form.on('submit(formDemo)',function (data) {
            data.field.content=layedit.getContent(index);//手动赋值
            $.post('about-us.php',data.field,function (res) {
                // console.log(res);
                if (res.code==200){
                    layer.msg(res.msg)
                }else{
                    layer.msg(res.msg)
                }
            })
            return false;//阻止默认行为
        })

    })
</script>