<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>导航表格</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style >
        #demo{
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        h2{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .wai{
            width: 60%;
            margin: 50px auto;
        }
        #editForm{
            display: none;
            margin-top: 40px;
            padding-right: 40px;
        }
        input{
            width: 130px;
        }
    </style>
</head>
<body>
<h2>产品分类查询页面</h2>
<div class="wai">
    <!--1.表格-->
    <table id="demo" lay-filter="test"></table>
    <!--2.图标按钮-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="edits({{d.cid}})"> <i class="layui-icon" style="font-size: 80px;">&#xe642;</i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" onclick="dels({{d.cid}})">
            <i class="layui-icon" style="font-size: 80px;">&#xe640;</i>
        </a>
    </script>
</div>

<!--编辑弹窗内容-->
<form class="layui-form" action="" id="editForm">
    <!--1.id-->
    <input type="hidden" name="cid">
    <!--2.分类名称-->
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" name="cname" required  lay-verify="required" placeholder="请输入产品分类名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--3.分类排序-->
    <div class="layui-form-item">
        <label class="layui-form-label">分类排序</label>
        <div class="layui-input-block">
            <input type="text" name="csort" required  lay-verify="required" placeholder="请输入产品分类排序" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--4.确认按钮-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>

</form>
<!--删除弹窗内容-->

</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    var layer,$,form,index,delindex,table;
    layui.use(['table','layer','jquery','form'], function(){
        table = layui.table;
        layer=layui.layer;
        $=layui.jquery;
        form=layui.form;

        //方法渲染
        table.render({
            elem: '#demo',
            url: 'category.php?type=querys',
            page:true,
            limit:5,
            limits:[5,10,15,20],
            cols: [[ //表头
                {field: 'cid', title: 'ID',sort: true, fixed: 'left'},
                {field: 'cname', title:'分类名称'},
                {field: 'csort', title: '分类排序',
                    templet: function(d){
                    return `<input type="number" name="csort" value="${d.csort}" onchange="sorts(${d.cid},this)">`
                    }
                },
                {fixed: 'right', title:'操作', toolbar: '#barDemo'}
            ]]
        });

        //修改数据
        form.on('submit(formDemo)',function (data) {
            $.post('category.php?type=updates',data.field,function (res) {
                let data=JSON.parse(res);
                if (data.code==200){
                    layer.close(index);
                    layer.msg(data.msg,{icon:6})
                    table.reload('demo')
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            });
            return false;
        })
    });
    //点击编辑按钮
    function edits(cid) {
       index=layer.open({
            type:1,
            title:'修改产品分类',
            area:['400px','300px'],
            skin:'layui-layer-molv',
            content:$('#editForm')
        });
        console.log(cid);
        //当前这条数据
        $.get('category.php?type=queryone',{cid:cid},function (res) {
            // 跳到php处理
            let data=JSON.parse(res);
            // console.log(data);
            if(data.code==200){
                $("input[name='cid']").val(data.data.cid);
                $("input[name='cname']").val(data.data.cname);
                $("input[name='csort']").val(data.data.csort);
            }else{
                layer.msg(data.msg);
            }
        })
    }
    //点击删除按钮
    function dels(cid) {
            //询问框
        delindex=layer.confirm('您确定要删除吗？', {
                title:'删除',
                skin:'layui-layer-molv',
                btn: ['确定','取消'] //按钮
            },
            function(){
                $.get('category.php?type=deletes',{cid:cid},function (res) {
                    let data=JSON.parse(res);
                    if (data.code==200){
                        layer.close(delindex);
                        layer.msg(data.msg,{icon:1});
                        table.reload('demo')
                    }else{
                        layer.msg(data.msg,{icon:2});
                    }
                })
            },
            function () {
                layer.close(delindex);
            })
    }

    //排序
    function sorts(cid,obj) {
        let val=$(obj).val();
        $.get("category.php?type=sorts",{cid:cid,val:val},function (res){
            let data=JSON.parse(res);
            if (data.code==200){
                layer.msg(data.msg,{icon:6});
                table.reload('demo',{page:{curr:1}});
            }else{
                layer.msg(data.msg,{icon:5});
            }
        })

    }

</script>