<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>导航表格</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        #demo{
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        h2{
            text-align: center;
            margin-top: 30px;
        }
        .wai{
            width: 98%;
            margin: 50px auto;
        }
        #editForm{
            display: none;
            margin-top: 40px;
            padding-right: 40px;
        }
        /*#demo1 img{*/
        /*   width: 20%;*/
        /*}*/

    </style>
</head>
<body>
<h2>产品查询页面</h2>
<div class="wai">
    <!--1.表格-->
    <table id="demo" lay-filter="test"></table>
    <!--轮播图-->
    <script type="text/html" id="gbanner">
        {{# let arr=d.gbanner.split(',') }}
        {{# arr.forEach(ele=>{ }}
            <img src="../{{ele}}" alt="" style="width: 50px;">
        {{# }) }}
    </script>
    <!--状态-->
        <script type="text/html" id="zhuang">
            {{# if(d.gstatus==0){ }}
            上架
            {{# } else{ }}
            下架
            {{# } }}
    </script>
    <!--2.图标按钮-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="edits({{d.gid}})"> <i class="layui-icon" style="font-size: 80px;">&#xe642;</i></a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" onclick="dels({{d.gid}})">
            <i class="layui-icon" style="font-size: 80px;">&#xe640;</i>
        </a>
    </script>
</div>

<!--编辑弹窗内容-->
<form class="layui-form" action="" id="editForm" lay-filter="formText">
    <input type="hidden" name="gid">
    <!--1.产品分类-->
    <div class="layui-form-item">
        <label class="layui-form-label">产品分类</label>
        <div class="layui-input-block">
            <select name="cid" lay-filter="">
                <?php foreach($category as $v){ ?>
                <option value="<?php echo $v['cid']?>"><?php echo $v['cname']?></option>
                <?php }?>
            </select>
        </div>
    </div>
    <!--2.产品名称-->
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="gname" required  lay-verify="required" placeholder="请输入产品名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--3.状态-->
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="gstatus" value="0" title="上架" checked>
            <input type="radio" name="gstatus" value="1" title="下架">
        </div>
    </div>
    <!--3.产品缩略图-->
    <div class="layui-form-item">
        <label class="layui-form-label">产品缩略图</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <input type="hidden" name="gthumb" value="">
                <button type="button" class="layui-btn" id="test1"><i class="layui-icon"></i>上传图片</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <img id="demo1" src="" alt="" width="20%">
                </blockquote>

            </div>
        </div>
    </div>

    <!--4.产品轮播图-->
    <div class="layui-form-item">
        <label class="layui-form-label">产品轮播图</label>
        <div class="layui-input-block">
            <div class="layui-upload">
                <input type="hidden" name="gbanner" value="">
                <button type="button" class="layui-btn" id="test2"><i class="layui-icon"></i>多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </div>

    <!--5.产品市场价-->
    <div class="layui-form-item">
        <label class="layui-form-label">市场价</label>
        <div class="layui-input-block">
            <input type="number" name="market_price" required  lay-verify="required" placeholder="请输入市场价" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--6.产品零售价-->
    <div class="layui-form-item">
        <label class="layui-form-label">零售价</label>
        <div class="layui-input-block">
            <input type="number" name="shop_price" required  lay-verify="required" placeholder="请输入零售价" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--7.产品库存-->
    <div class="layui-form-item">
        <label class="layui-form-label">产品库存</label>
        <div class="layui-input-block">
            <input type="text" name="gstock" required  lay-verify="required" placeholder="请输入产品库存" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>

<!--删除弹窗内容-->

</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    var layer,$,form,index,delindex,table,upload;
    layui.use(['table','layer','jquery','form','upload'], function(){
        table = layui.table;
        layer=layui.layer;
        $=layui.jquery;
        form=layui.form;
        upload=layui.upload;
        //普通图片上传
        upload.render({
            elem: '#test1'
            ,url: 'upload.php'
            ,size:500
            ,done: function(res){
                //上传成功
                if(res.code==200){
                    layer.msg(res.msg,{icon:1});
                    $('input[name="gthumb"]').val(res.data);
                    $('#demo1').attr('src','../'+res.data);
                }
                //如果上传失败
            }
        });

        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: 'upload.php'
            ,accept: 'image'
            ,multiple: true
            ,number:3
            ,size:500
            ,done: function(res){
                //上传完毕
                if (res.code==200){
                    layer.msg(res.msg,{icon:1});
                    if ($('#demo2 img').length<3) {
                        $("input[name='gbanner']").val((index, value) => value + res.data + ',');
                        $('#demo2').append(`<img src="../${res.data}" style="width:20%">`);
                    }else{
                        layer.msg('图片最多只能上传3张',{icon:2})
                    }
                }else{
                    layer.msg(res.msg,{icon:2});
                }
            }
        });

    //     layedit.build('student'); //建立编辑器
    // });
        //方法渲染
        table.render({
            elem: '#demo',
            url: 'goods.php?type=querys',
            page:true,
            limit:5,
            limits:[5,10,15,20],
            cols: [[ //表头
                {field: 'gid', title: 'ID',sort: true, fixed: 'left'},
                {field: 'cname', title:'产品分类',width: '15%'},
                {field: 'gname', title:'产品名称',width: '20%'},
                {field: 'gthumb', title:'缩略图',
                templet:function (d) {
                    return `<img src="../${d.gthumb}" width="50%">`
                },width: '8%'},
                {field: 'gbanner', title:'轮播图',templet:'#gbanner',width: '20%'},
                {field: 'market_price', title:'市场价',width: '8%'},
                {field: 'shop_price', title:'零售价',width: '8%'},
                {field: 'gstock', title:'库存',width: '8%'},
                {field: 'create_time', title:'创建时间',width: '15%'},
                {field: 'update_time', title:'更新时间',width: '15%'},
                {field: 'gstatus', title:'状态',templet:'#zhuang'},
                {field: 'gcontent', title:'内容',width: '25%'},
                {fixed: 'right', title:'操作', toolbar: '#barDemo',width: '10%'}
            ]]
        });

        //修改数据
        form.on('submit(formDemo)',function (data) {
            $.post('goods.php?type=updates',data.field,function (res) {
                let data=JSON.parse(res);
                console.log(data);
                if (data.code==200){
                    layer.close(index);
                    layer.msg(data.msg,{icon:6})
                    table.reload('demo')
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            });
            return false;
        })
    })
    //点击编辑按钮
    function edits(gid) {
        index=layer.open({
            type:1,
            title:'修改产品分类',
            area:['400px','300px'],
            skin:'layui-layer-molv',
            content:$('#editForm')
        });
        console.log(gid);
        //当前这条数据
        $.get('goods.php?type=queryone',{gid:gid},function (res) {
            // 跳到php处理
            // console.log(data);
            let data=JSON.parse(res);
            if(data.code==200){
                let datas=data.data;
                // 渲染数据
                form.val('formText',{
                    "cid":datas.cid,
                    "gid":datas.gid,
                    "gname":datas.gname,
                    "gstatus":datas.gstatus,
                    "gthumb":datas.gthumb,
                    "gbanner":datas.gbanner,
                    "market_price":datas.market_price,
                    "shop_price":datas.shop_price,
                    "gstock":datas.gstock,
                    "gcontent":datas.gcontent
                });

                $('#demo1').attr('src',"../"+datas.gthumb);
                let arr=datas.gbanner.split(',');
                arr.forEach(value => {
                    $('#demo2').append(`<img src="../${value}" width="20%">`)
                })

            }else{
                layer.msg(data.msg,{icon:2});
            }
        })
    }
    //点击删除按钮
    function dels(gid) {
        //询问框
        delindex=layer.confirm('您确定要删除吗？', {
                title:'删除',
                skin:'layui-layer-molv',
                btn: ['确定','取消'] //按钮
            },
            function(){
                $.get('goods.php?type=deletes',{gid:gid},function (res) {
                    let data=JSON.parse(res);
                    if (data.code==200){
                        layer.close(delindex);
                        layer.msg(data.msg,{icon:1});
                        table.reload('demo')
                    }else{
                        layer.msg(data.msg,{icon:2});
                    }
                })
            },
            function () {
                layer.close(delindex);
            })
    }


</script>