<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <style>
        form{
            width: 500px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        h2{
            text-align: center;
            margin-top: 30px;
        }
        img{
            width: 100px;
        }
    </style>
</head>
<body>
<h2>新闻资讯添加页面</h2>
<!--表单-->
<form class="layui-form" action="">
    <!--1.新闻标题-->
    <div class="layui-form-item">
        <label class="layui-form-label">新闻标题</label>
        <div class="layui-input-block">
            <input type="text" name="ntitle" required  lay-verify="required" placeholder="请输入新闻标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--2.新闻内容-->
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">新闻内容</label>
        <div class="layui-input-block">
            <textarea name="ncontent" placeholder="请输入新闻内容" class="layui-textarea"></textarea>
        </div>
    </div>

    <!--3.新闻排序-->
    <div class="layui-form-item">
        <label class="layui-form-label">新闻排序</label>
        <div class="layui-input-block">
            <input type="text" name="nsort" required  lay-verify="required" placeholder="请输入新闻排序" autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--4.提交按钮-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

</body>
</html>
<script src="../static/layui/layui.js"></script>
<script>
    layui.use(['laydate','layer','form','jquery'],function () {
        var {laydate,layer,form,$}=layui;
        //墨绿主题
        laydate.render({
            elem: '#test291'
            ,theme: 'molv'
        });

        //墨绿主题
        laydate.render({
            elem: '#test29'
            ,theme: 'molv'
        });

        form.on('submit(formDemo)',function (data) {
            $.ajax({
                type:"post",
                url:"newsinsert.php",
                data:data.field,
                dataType:"json",
                success:function (res) {
                    if (res.code==200){
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.msg);
                    }
                }
            })
            return false;
        })

    })
</script>