<link rel="stylesheet" type="text/css" href="../static/index/css/swiper.min.css" />
<link rel="stylesheet" type= "text/css" href="../static/index/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../static/index/css/index.css" />
<link rel="stylesheet" type="text/css" href="../static/index/css/aboutus.css" />
<link rel="stylesheet" type="text/css" href="../static/index/css/goods.css" />
<link rel="stylesheet" type="text/css" href="../static/index/css/detail.css" />

		<div class="banner7"><img src="../static/index/img/ban3.jpg" /></div>

		<!--主体-->
		<div class="content">
			<!--标题1-->
			<div class="yao7">
				<h1><?php echo $data['gname'] ?></h1>
			</div>

			<!--展示-->
			<div class="zhanshi">
				<div class="swiper-container swiper-container-horizontal">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="../static/index/img/tu31.jpg" /></div>
						<div class="swiper-slide"><img src="../static/index/img/tu32.jpg" /></div>
						<div class="swiper-slide"><img src="../static/index/img/tu33.jpg" /></div>
					</div>

					<!-- Add Pagination -->
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
						
						<span class="swiper-pagination-bullet bar-user swiper-pagination-bullet-active"></span>
						<span class="swiper-pagination-bullet bar-user"></span>
						<span class="swiper-pagination-bullet bar-user"></span>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next bar-anm"></div>
					<div class="swiper-button-prev"></div>
				</div>

				<div class="zhanshi_2">
					<div class="zhanshi_21">市场价：￥<?php echo $data['market_price']?></div>
					<div class="zhanshi_22">
						<span>零售价：</span>
						<span><strong>￥<?php echo $data['shop_price']?></strong></span>
					</div>
					<div class="zhanshi_23"></div>
					<div class="zhanshi_24">库存状况：<?php echo $data['gstock']?>件</div>
				</div>
				<div class="zhanshi_3">
					<div class="zhanshi_31">商品介绍</div>
<!--					<div><?php echo $data['gcontent']?></div>-->
					<div class="zhanshi_32">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。</div>
					<div class="zhanshi_33">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。</span>
					</div>

				</div>
			</div>
		</div>
		
		<script src="../static/index/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/swiper.animate-twice.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/swiper.animate1.0.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/index.js" type="text/javascript" charset="utf-8"></script>
