<link rel="stylesheet" type="text/css" href="../static/index/css/swiper.min.css" />
<link rel="stylesheet" type= "text/css" href="../static/index/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="../static/index/css/index.css" />
		<!--轮播-->
		<div class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="../static/index/img/ban1.jpg" /></div>
				<div class="swiper-slide"><img src="../static/index/img/ban12.jpg" /></div>
			</div>

			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				 
				<span class="swiper-pagination-bullet bar-user"></span>
				<span class="swiper-pagination-bullet bar-user swiper-pagination-bullet-active"></span>
				<span class="swiper-pagination-bullet bar-user"></span>
			</div>
			<!-- Add Arrows -->
			<div class="swiper-button-next bar-anm"></div>
			<div class="swiper-button-prev"></div>

		</div>

		<!--主体-->
		<div class="content">
			<!--标题1-->
			<h1>我们的努力，只是为了您的满意</h1>
			<p class="h1xia">我们为您提供集汽车内外装饰、汽车影音改装、汽车精品销售、汽车美容养护于一体的大型“一站式汽车服务”</p>
			<!--四图-->
			<ul class="situ">
				<li class="situdx donghua1">
					<div class="tu4"><img src="../static/index/img/4-1.png" /></div>
					<div class="tuzi"><span id="tu4zi_1"><strong>汽车保养 专家系统</strong></span></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png" /></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换。</div>
				</li>
				<li class="situdx donghua2">
					<div class="tu4"><img class="tusiimg" src="../static/index/img/4-2.png" /></div>
					<div class="tuzi"><span id="tu4zi_1"><strong>原厂品质 正品配件</strong></span></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png" /></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换记得加马赛克。</div>
				</li>
				<li class="situdx donghua3">
					<div class="tu4"><img src="../static/index/img/4-3.png" /></div>
					<div class="tuzi"><span id="tu4zi_1"><strong>全里程保养保障</strong></span></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png" /></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换降低。</div>
				</li>
				<li class="situdx donghua4">
					<div class="tu4"><img src="../static/index/img/4-4.png" /></div>
					<div class="tuzi"><span id="tu4zi_1"><strong>4S店一半的价格</strong></span></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png" /></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换嘟嘟的调度员。</div>
				</li>

			</ul>

			<!--标题2-->
			<div class="biaoti2">
				<h1>引领时代，驾驭未来</h1>
			</div>
			<img class="b2tu" src="../static/index/img/car.png" />
			<!--大盒1-->
			<div class="dahe1">
				<div class="dahe1-l"><img class="dahe1img" src="../static/index/img/dahe1.jpg" /></div>
				<div class="dahe1-r">
					<div class="dahe1-r-t">
						<div class="dahe1-r-t-title">公司简介</div>
						<div class="dahe1-r-t-btton">MORE +</div>
					</div>
					<div class="dahe-r-zi1">汽车有限公司成立于XXX年XX月XX日，是本地区唯一的授权销售服务中心和特约售后服务中心。主要从事多种品牌的整车销售、 售后服务、配件供应及信息反馈业务。</div>
					<div class="dahe-r-zi2">公司秉承 “尊荣无限 至上体验”的服务理念，培养更主动贴心的服务意识,追求更周到便捷的服务水准，让每一位车主，都体验到管家般的细致专业，享受到待为贵宾般的尊崇体验<br>公司秉承 “尊荣无限 至上体验”的服务理念，培养更主动贴心的服务意识,追求更周到便捷的服务水准，让每一位车主，都体验到管家般的细致专业，享受到待为贵宾般的尊崇体验……</div>
				</div>
			</div>
			<!--大盒2-->
			<div class="dahe2">
				<div class="dahe2-l"><img src="../static/index/img/dahe2.jpg" /></div>
				<div class="dahe2-r">
					<div class="dahe2-r-t">
						<div class="dahe2-r-t-title">美容知识</div>
						<div class="dahe2-r-t-btton">MORE +</div>
					</div>
					<a href="limit.html"><div class="dahe-r-zi3">修车五大禁忌忌开锅时贸然开引从擎盖 <span>2015-01-20</span></div></a>
					<a href="limit.html"><div class="dahe-r-zi3">你的爱车清理到位了吗 可别忘记排水孔<span>2015-01-20</span></div></a>
					<div class="dahe-r-zi3">配置升级 2015款凯迪拉克XTS到店实拍<span>2015-01-20</span></div>
					<div class="dahe-r-zi3">奥迪推出Q2/Q4受阻 菲亚特抢注但名称<span>2015-01-20</span></div>
					<div class="dahe-r-zi3">新能源汽车补贴酝酿的士速递是新思路 <span>2015-01-20</span></div>
				</div>
			</div>
		</div>


		<script src="../static/index/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/swiper.animate-twice.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/swiper.animate1.0.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/index/js/index.js" type="text/javascript" charset="utf-8"></script>
		 
