
		<link rel="stylesheet" type="text/css" href="../static/index/css/swiper.min.css" />
		<link rel="stylesheet" type= "text/css" href="../static/index/css/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/index/css/index.css" />
		<link rel="stylesheet" type="text/css" href="../static/index/css/aboutus.css" />
		<link rel="stylesheet" type="text/css" href="../static/index/css/service.css" />

			<div class="banner2"><img src="../static/index/img/ban4.jpg" /></div>

		<!--主体-->
		<div class="content">
			<!--标题1-->
			 <div class="yao21">
			 	<div class="yao21-zi">
			 		<h1>服务项目</h1>
			 		<p>Services</p>
			 	</div>
			 </div>
			
			<ul class="situ">
				<li class="situdy donghua1">
					<div class="tu4"><img src="../static/index/img/tu41.jpg"/></div>
					<div class="tuzi"><a href="index6.html"><span id="tu4zi_1"><strong>汽车美容</strong></span></a></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png"/></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换。</div>
				</li>
				<li class="situdy donghua2">
					<div class="tu4"><img src="../static/index/img/tu42.jpg"/></div>
					<div class="tuzi"><a href="index6.html"><span id="tu4zi_1"><strong>汽车维修</strong></span></a></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png"/></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换记得加马赛克。</div>
				</li>
				<li class="situdy donghua3">
					<div class="tu4"><img src="../static/index/img/tu43.jpg"/></div>
					<div class="tuzi"><a href="index6.html"><span id="tu4zi_1"><strong>钣金喷漆</strong></span></a></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png"/></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换降低。</div>
				</li>
				<li class="situdy donghua4">
					<div class="tu4"><img src="../static/index/img/tu44.jpg"/></div>
					<div class="tuzi"><a href="index6.html"><span id="tu4zi_1"><strong>汽车改装</strong></span></a></div>
					<div id="tiao"><img src="../static/index/img/4tiao.png"/></div>
					<div id="tu4zi_2">応损捠捡换换，攴朰朲朳枛朸桸桹桺奿妀。夲夳夵壱売壳圢圤圥圦圧，圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换换嘟嘟的调度员。</div>
				</li>
				 
			</ul>
		</div>

		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.animate-twice.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.animate1.0.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>

